.site-header {
    min-height: unset;

    & .wrapper {
        text-align: center;

        & img {
            padding: 6px;
        }
    }
}

.post-content {
    & a {
        color: unset !important;
        text-decoration: underline;
    }

    & .spoiler {
        display: none;
    }

    & .crumbs ol {
        margin-left: unset;

        & li {
            display: inline;

            & p {
                display: inherit;
            }

            & span::after {
                content: "/";
                padding: 0 0.5em 0 0.5em;
            }
        }
    }
}
