<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{- page.title -}}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="{{- '/assets/main.css' | relative_url -}}">
        <link rel="stylesheet" href="{{- '/assets/css/custom.css' | relative_url -}}">
        <link rel="icon" type="image/svg" href="{{- '/assets/images/logo.svg' | relative_url -}}">
        <script src="{{- '/assets/js/spoiler.js' | relative_url -}}"></script>
    </head>
    <body>
        <header class="site-header">
            <div class="wrapper">
                <a href="{{- '/' | relative_url -}}">
                    <img alt="{{- site.title -}}" src="{{- '/assets/images/logo-full.svg' | relative_url -}}">
                </a>
            </div>
        </header>
        <main class="page-content">
            <div class="wrapper">
                <article class="post">
                    <div class="post-content">
                        {{- content -}}
                    </div>
                </article>
            </div>
        </main>
    </body>
</html>
